@font-face {
  font-family: 'Rubik';
  src: url('fonts/rubik-v12-hebrew.woff2');
}
html {
  direction: rtl;
}

body {
  font-family: Rubik;
  color: rgb(38, 60, 74);
}

#cyber-logo {
  float: right;
}

#title {
  font-size: 27px;
  margin-right: 40px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

#content {
  width: 500px;
  font-size: 16px;
}

#content a:visited {
  color: rgb(7, 16, 22);
}

#content a:link {
  color: rgb(40, 92, 126);
  text-decoration: none;
}
